body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(../alx/images/login.jpg);
    background-size: cover;
}

.box{
    /* position: absolute; */
    top: 15%;
    left: 35%;
    margin-top: 8%;
    margin-left: 37%;
    margin-bottom: 20%;
    
    width: 400px;
    padding: 40px 80px  ;
    padding-bottom: 20px;
    background: rgba(0,0,0,0.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,0.6) ;
    
}



.align-txt{
    display: flex;
    align-items: center;
   
   color: white;
   padding-top: 5%;
   /* text-align: center; */
}
.align-txt a{
   color: red;
   text-decoration: none;
   padding-left: 10px;
}
/* 
.align-txt a:hover{
   color: white;
   transition: all 0.2s ease-in;
} */

.align{
   text-align: center;
   margin-bottom: 15%;
}
     .align a{
         text-decoration: white;
     }

     .align  h2{
         color: white;
         text-decoration: none;
     }



.box .inputbox{
    position: relative;
}
.box .inputbox input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;

}

.box .inputbox span{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
}

.box .inputbox input:focus ~ span,
.box .inputbox input:valid ~ span
{
    top: -18px;
    left: 0;
    color: white;
    font-size: 12px;


}

.box input[type="submit"]{
    border-radius: 18px;
    color: white;
    background-color: blue;
    border: none;
    padding: 10px 100px;
    font-weight: bold;
   

}

.box input[type="submit"]:hover{
    background-color: white;
    color: blue;
    transition: all 0.2s ease-in;
}